

/*div{border: 1px solid black;}*/

.topbar {
	width: 100%;
	height: 100px;
	background-color:#4ba9cf;
	background-image:url(../img/header_gfx.png);
	background-repeat:no-repeat;
	background-position: 98% center;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
}
#search {
	position:absolute;
	top: 45px;
	left: 50px;
	background-color:#316e87;
	color: #FFF;
	border-radius: 20px;
	border-color:#4ba9cf;
	width: 300px;
	-moz-box-shadow:    inset 0 1px 0px #244e60;
	-webkit-box-shadow: inset 0 1px 0px #244e60;
	box-shadow:         inset 0 1px 0px #244e60;
}
#search::-moz-placeholder {
color:#4ba9cf;
opacity:1
}
#search:-ms-input-placeholder {
color:#4ba9cf
}
#search::-webkit-input-placeholder {
color:#4ba9cf
}
.btn-search {
	float: left;
	color: #fff;
	font-size: 22px;
	position:relative;
	top: 45px;
	left:300px;
	background-color:transparent;
}
.sidebar {float:left;width: auto;margin: 50px;margin-top: 0px;}
.content{float: left;max-width: 700px;min-width: 500px;}
.datePicker{}
.table-day{max-width: 400px;display: block;table-layout: fixed;height: 576px;overflow: scroll;}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 144px;
  height: 154px;
  background-color: #b5b5b5;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

time.icon *
{
  display: block;
  width: inherit;
  
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #b5b5b5;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #FFF;
}

time.icon span
{
  font-size: 7em;
  font-weight: lighter;
  letter-spacing: -0.05em;
  padding-top: 0.05em;
  color: #FFF;
}
.btn-addleft {
	color:#666;
	padding: 10px;
	font-size:18px;
	font-weight: 500px;
	/*float: right;*/
	background-color: #FFF;
	border-radius: 0px;
	width: 144px;
	height: 40px;
	box-shadow: 1px 1px 0px 0px #888;
}
.uib-day button{color: black;}

.custom-size button{background: none;padding: 2px 4px;font-size: 10px;min-width: auto;box-shadow: none;border: none;}

.uib-daypicker thead{
    font-size: 12px;
}

.custom-size thead{
}
.main{
	display: inline-flex;
	width: 100%;
}
.table-week>tbody>tr>#week{
	width: auto;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0px;
}
.table-week{
}
.uib-day{
	border: 0px;
}

.uib-day button.active, .uib-day button.active:focus, .uib-day button.active:hover{
	color: black;
}
.uib-datepicker:focus{
	outline: none;
}
.uib-daypicker:focus{
	outline: none;
}
.topmenu {
	width: 229px;
	margin-left: 60%;
	margin-right: 10%;
	height: 40px;
	float: right;
	margin-top: 10px;
}
tr.entryWeek{
	border: none;
	border-bottom: 1px solid #ddd;
	font-size: small;
	background-color: white;
}
.tbody>.entryWeek>td{
	border: none;
}
.monthEntry{
	font-size: x-small;
}
.table.table-dayInMonth{
    height: 53px;
    width: 95px;
    display:block;
    table-layout:fixed;
    overflow:scroll;
    margin-bottom: 0px;
    background-color: transparent;
}
.table-dayInMonth>tbody>tr>td{padding: 0px;line-height: 1;border-top: none;}

.table-month>tbody>tr>td.calendarCell{padding-bottom: 0px;}

.table-dayOfWeek {
    margin-bottom: 0px;
    display: block;
    table-layout: fixed;
    overflow: scroll;
    width: 95px;
    height: 535px;
}

.table-dayOfWeek>tbody>tr>td {
    border: none;
    min-width: 94px;
    font-size: small;
}

.entryWeek>td>a {
    padding: initial;
}

.table-month>tbody>tr>td.calendarCell:hover {
    background-color: rgb(75, 169, 207);
}

.table-month>tbody>tr>td.calendarCell>div {
    background-color: transparent;
}

.table-dayOfWeek>tbody>tr>td:hover {
    background-color: #4ba9cf;
    color: white;
}
tr.entryWeek:nth-child(odd){
}

.table-dayOfWeek>tbody>tr>td:hover + a {
    color: white;
}

.table-dayOfWeek>tbody>tr>td:hover>a {
    color: white;
}

.table-month>tbody>tr>td.calendarCell:hover>div>table>tbody>tr>td>a {
    color: white;
}

table.table-day>tbody>tr:hover {
    background-color: #4ba9cf;
}

table.table-day>tbody>tr:hover>td>a {
    color: white;
}

table.table-day>tbody>tr>td {
    vertical-align: middle;
}

.topmenu>ul>li {
    width: 75px;
    color: #4ba9cf;
}

.topmenu>ul>li:active,.topmenu>ul>li.active {
    color: white;
    background-color: #4ba9cf;
}

li.btn-topnav:hover {
    color: #4ba9cf;
}