<div class="titlefeed">4 People are out today</div>
<table class ="table table-month">
    <tbody>
    <tr>
        <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
    </tr>

    <tr ng-repeat = "weekRow in calendar">

            <td ng-repeat ="item in weekRow track by $index" style = "vertical-align:top; border:1px solid grey;" class="calendarCell">
                <div style="">
                <table class = "table table-dayInMonth">
                    <thead>
                    {{item.val}}
                    </thead>
                   <tbody>
                    <tr ng-repeat="x in absences[item.key.toDateString()] track by x.absid">
                        <td><a class = "monthEntry" href="#">{{x.lastname}}, {{x.firstname}}</a></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <br/>
            </td>

    </tr>
    </tbody>
</table>